* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

html {
    background-color: white;

    width: 100vw;
    height: 100vh;
}

body {
    margin: auto;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: burlywood;
}

nav {
    width: 100vw;
    height: 5vmin;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 0 20px 20px;
    border-bottom: 1px solid black;
    padding: 30px;
}

h1 {
    font-size: 20pt;
}

nav a {
    text-decoration: none;
    color: black;
}

nav > a:hover {
    font-weight: bold;
}

main {
    font-size: 0;
    margin: auto;
    padding: 2vmin;

    flex: 1 1 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > .text {
    font-size: 12pt;
    margin-bottom: 1%;
    font-size: 15pt;
    border-radius: 15px;
}

#CanvasContainer {
    width: 100%;
    flex: 1 1 0;
}

#ChessBoard {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

#PromotionPanel {
    background-color: #515151;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.pp-piece {
    background-color: grey;
    position: absolute;
}