:root {
    --app-height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: var(--app-height);
}

h1 {
    margin-top: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0px;
    width: 100%;
}

/* PC Unique Style  */
@media (orientation: landscape) {
    h1 {
        margin-top: 50px;
    }

    main {
        flex-direction: row;
    }

    main > div {
        height: 75%;
        max-width: 500px;
        max-height: 500px;
    }
}

main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 20px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;

    text-align: center;
    width: 80%;
    max-height: 400px;
    flex: 1 1 0;
}

main > div > * {
    margin: 10px 0;
}

button, a {
    background-color: cornflowerblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-radius: 5px;
    border: 2px solid white;
    padding: 6px 12px;
    text-decoration: none;
}

button:hover {
    background-color:deepskyblue;
}

#ExistingGameContainer > form > button {
    margin-left: 10px;
}

#join-input {
    width: 15%;
    border: 1px solid black;
}